* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #d6ce93;
}

header {
  background-color: #283618;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

header h1 {
  padding: 20px;
  color: #ffffff;
  font-size: 1.5em;
}

header h1::before {
  content: "\0468";
  color: black;
  margin-right: 25px;
  font-size: 50px;
  vertical-align: middle;
}

header a {
  color: white;
  margin: 40px 20px;
  padding: 10px;
  text-decoration: none;
}

nav {
  margin: 40px 20px 0 20px;
}

nav a:hover {
  color: #709644;
}

/* Home Page */

.has-bg-image {
  background-color: #221e1e;
}

#homepage-container {
  display: flex;
  max-width: 2000px;
  height: max-content;
  margin: 40px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.527);
  padding: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.664);
}

#homepage-img {
  width: 50%;
  height: 700px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 5px 10px 25px rgb(51, 51, 51);
}

#homepage-description {
  padding: 30px;
  margin-top: 60px;
  margin-left: 45px;
}

#homepage-description h2 {
  font-size: 3em;
  margin-left: 10px;
  margin-top: -10px;
  transition-duration: 5s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
  transition-property: height 0s;
}

#homepage-description p {
  margin: 30px 0 0 0;
  font-size: 1.5em;
}

#homepage-last-paragraph {
  margin-top: 0;
  margin-bottom: 10px;
}

ol {
  margin: 50px 20px 0 30px;
  font-size: 1.5em;
}

ol li {
  list-style-type: disc;
}

.statement-section {
  background: url(./assets/html-bg-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  width: 1309px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.664);
}

.has-backdrop {
  backdrop-filter: blur(7px);
  display: flex;
  margin: -20px auto 0px auto;
  background: rgba(0, 0, 0, 0.295);

  height: fit-content;
  justify-content: center;
  align-items: center;
}

.statements {
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.664);
  background: rgba(255, 255, 255, 0.541);
  background: white;
  width: 400px;
  height: fit-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13), 0 0 1em rgba(0, 0, 0, 0.158),
    0 0 0.2em rgba(0, 0, 0, 0.082);
  color: rgb(124, 124, 124);
  font-weight: 600;
  border-radius: 6px;
}

.statements h1 {
  margin: 10px 0 7px 0;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
}

.statements p {
  margin-bottom: 10px;
  padding: 5px;
}

.symbols-grid {
  display: grid;
  width: 50%;
  font-size: 3.5rem;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  padding: 60px;
  margin-right: 40px;
  justify-items: center;
  align-items: center;
  row-gap: 50px;
  border: 2px solid black;
  background-color: #283618;
  color: #ffffff;
  row-gap: 50px;
  column-gap: 60px;
}

.fa-window-restore {
  grid-column-start: 4;
}

#fa-wifi {
  grid-column-start: 4;
  grid-column-end: 5;
}

.fa-network-wired {
  grid-column-start: 3;
  grid-row-start: 2;
}

.fa-laptop-code {
  grid-row-start: 4;
  grid-column-start: 4;
}

.fa-code-branch {
  grid-row-start: 4;
  grid-column-start: 3;
}

.fa-terminal {
  grid-column-start: 2;
  grid-row-start: 4;
}

.fa-folder {
  grid-row-start: 4;
  grid-column-start: 1;
}

.fa-html5 {
  grid-column-start: 4;
}

.fa-css3-alt {
  grid-column-start: 3;
  grid-row-start: 3;
}

.fa-js-square {
  grid-column-start: 2;
  grid-row-start: 3;
}

/* About */

.about-page-bd {
  background: url(\assets\Background About.png);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: brightness(30%);
  color: #fff;
}

.about-nav {
  z-index: 1;
}

.about-page-main {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}

.about-title {
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
  box-shadow: 5px 5px 25px #000000;
  text-shadow: #663300 1px 0 10px;
  letter-spacing: 3px;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.intro-about {
  margin: 20px 0 40px 0;
  font-size: larger;
}

#intro-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 30px;
}

#intro-card p {
  margin-left: 20px;
}

#about-page-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: white;
}

.about-card {
  width: 500px;
}

.about-card p {
  text-align: center;
  width: 578px;
  padding: 10px;
}

.about-page-img {
  height: 400px;
  box-shadow: 5px 5px 25px #000000;
  border-radius: 6px;
  margin-bottom: 20px;
}

.about-page-list {
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
}

.about-page-list h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#second-intro-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
  background: #46464629;
  box-shadow: 10px 10px 25px black;
}

.first-card,
.third-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 5px 5px 25px black;
}

.second-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 5px 5px 25px black;
}

.first-card,
.second-card,
.third-card {
  margin: 30px 0;
  text-align: center;
  display: flex;
  align-items: center;
}
.first-card p,
.second-card p,
.third-card p {
  width: 500px;
  margin: auto;
}

.about-card-img {
  height: 250px;
  box-shadow: 10px 20px 35px black;
}

.end-cardtainer {
  padding: 10px 0px 10px 0;
  font-size: larger;
  margin: auto;
  width: 700px;
}

.end-cardtainer p {
  padding: 20px;
  margin: 50px auto 15px auto;
  text-shadow: 1px 1px 2px rgb(21, 53, 0), 0 0 1em rgb(109, 58, 0),
    0 0 0.2em rgb(25, 56, 0);
}

.end-about-card-fp {
  text-decoration: underline;
}
/* Contact */

.contact-transition {
  transition-duration: 2.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transition-property: all;
}

.container-bg {
  background: #fff;
  margin-top: 0px;
}

.contact-title {
  padding: 10px;
  margin: 20px auto 10px auto;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.692);
  font-weight: 200;
}

.contact-description {
  padding: 30px;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.781),
    rgba(200, 120, 1, 0.589)
  );
  border: 1px solid #2222229f;
  box-shadow: 1px 1px 10px #7070704f;
  border-radius: 4px;
  color: #1d1d1dde;
}
.contact-card-container {
  text-align: center;
}

.contact-card-holder {
  margin: auto 60px 30px 60px;
  color: white;
  width: 45%;
  overflow: hidden;
  background-color: #000000d8;
  padding: 20px;
  height: 325px;
  border: 1px solid #a3a3a379;
  border-radius: 6px;
  box-shadow: 1px 1px 25px #464646d8;
}

.contact-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2.5%;
  width: 80%;
  margin: auto;
  border-left: 2px solid rgba(61, 61, 61, 0.623);
  border-right: 2px solid rgba(61, 61, 61, 0.623);
}

.contact-cards a {
  text-decoration: none;
  color: #ca6702;
}

.contact-cards img {
  height: 200px;
  padding: auto 30px;
  overflow: hidden;
  margin: 30px auto 10px auto;
  box-shadow: 2px 2px 25px #39501f;
  border-radius: 6px;
}

.user-information {
  padding: 30px;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.781),
    rgba(200, 120, 1, 0.589)
  );
  box-shadow: 1px 1px 10px #283618;
  max-width: fit-content;
  max-height: fit-content;
  margin: auto;
  font-weight: bold;
  border-radius: 4px;
}

.user-information legend {
  color: #283618;
}

.user-information label,
input {
  padding: 3px;
  border: none;
  outline: none;
}

.user-information label {
  font-weight: 400;
  color: #283618;
  text-decoration: underline;
}

.user-information input {
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
}

.user-information input:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.349);
}

#submit-button {
  margin: 0 20px 0 70px;
  width: 70px;
  padding: 4px;
  background-color: #d6ce93;
  font-weight: bold;
  color: #283618;
}

#submit-button:hover {
  cursor: pointer;
  background: #ca6702;
  color: #fff;
}

/* Testimonies */

.page-section {
  display: flex;
  padding: 60px 40px;
  justify-content: space-between;
  flex-direction: column;
}
.section1 {
  background-image: linear-gradient(
      rgb(000, 000, 000, 30%),
      rgb(000, 000, 000, 30%)
    )
    url("assets/markus-spiske-hqCEQTc5gZA-unsplash 1.png");
}
.card {
  background-color: white;
  padding: 20px;
  /* max-width: 44%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card-body {
  margin: 0 30px;
  align-items: start;
}

.card-title {
  font-size: 2em;
  margin-bottom: 20px;
}
.card-text {
  font-size: 1.25em;
  padding: 20px;
  margin: auto;
}
.section2 {
  /* background-color: white; */
  justify-content: space-evenly;
}
.page-section {
  background-image: linear-gradient rgb(192, 147, 192);
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-jali {
  height: 400px;
  padding: 20px;
}

.example-comment {
  font-size: smaller;
}
.footer {
  background: #283618;
  width: 100%;
  margin: 40px 0 0 0;
  color: white;
}

.footer-container {
  width: 800px;
  margin: 20px auto;
  padding-top: 30px;
  justify-content: space-between;
}

.footer nav {
  margin: 10px 15px;
  padding: 10px;
  display: flex;
}

.footer a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: small;
  margin-top: 10px;
  padding: 2px;
  letter-spacing: 2px;
  display: inline;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer p {
  margin: 30px 30px 50px 0px;
  width: 440px;
  margin-right: 150px;
}

.footer li {
  list-style-type: none;
}

.copyright {
  width: 100%;
  font-size: x-small;
}

@media screen and (max-width(900px)) {
  body {
    flex-wrap: wrap;
  }

  .contact-cards img {
    overflow: visible;
  }
}
*/ .page-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: linear-gradient rgb(192, 147, 192);
}
.test-bg-img {
  background-image: linear-gradient(
      rgb(000, 000, 000, 30%),
      rgb(000, 000, 000, 30%)
    ),
    url("assets/markus-spiske-hqCEQTc5gZA-unsplash 1.png");
}
.card {
  background-color: rgba(255, 255, 255, 0.425);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.404);

  padding: 20px;
  /* max-width: 44%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}

#absia-text {
  flex-direction: row-reverse;
}

.card-body {
  width: 350px;
  display: flex;
  flex-direction: column-reverse;
}

.card-title {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: smaller;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.card-text {
  font-size: 1.25em;
  border-bottom: 1px solid black;
  text-align: center;
  /* padding: 20px;
  margin: auto; */
}

.card-image {
  box-shadow: 5px 5px 15px black;
}
.section2 {
  background-color: rgba(255, 255, 255, 0.425);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  /* width: fit-content; */
}

.section2 p {
  /* width: 400px; */
  padding: 40px;
  font-size: 1.2rem;
}

#section2-text-wrap {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

#section2-text-wrap p {
  border: none;
  text-align: start;
}

.page-section {
  background-image: linear-gradient rgb(192, 147, 192);
}

.bottom-picture-testimony {
  height: 400px;
  width: 500px;
  box-shadow: 5px 5px 25px black;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#jali-card-text {
  display: flex;
  flex-direction: column-reverse;
  /* background-color: white; */
  padding: 40px;
}

.example-jali {
  box-shadow: 5px 5px 15px black;
  height: 400px;
  margin-bottom: 20px;
}

.example-comment {
  font-size: smaller;
}

/* Footer */

.footer {
  background: #283618;
  width: 100%;
  margin: 40px 0 0 0;
  color: white;
}

.footer-container {
  width: 800px;
  margin: 20px auto;
  padding-top: 30px;
  justify-content: space-between;
}

.footer nav {
  margin: 10px 15px;
  padding: 10px;
  display: flex;
}

.footer a {
  color: white;
  text-decoration: none;
  display: flex;
  font-size: small;
  margin-top: 10px;
  padding: 2px;
  letter-spacing: 2px;
  display: inline;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer p {
  /* margin: 30px 30px 50px 0px; */
  width: 440px;
  margin-right: 150px;
}

.footer li {
  list-style-type: none;
}

.copyright {
  width: 100%;
  font-size: x-small;
}

@media screen and (max-width(900px)) {
  body {
    flex-wrap: wrap;
  }

  .contact-cards img {
    overflow: visible;
  }
}
