.page-section {
  display: flex;
  padding: 60px 40px;
  justify-content: space-between;
}
.section1 {
  background-image: linear-gradient(
      rgb(000, 000, 000, 30%),
      rgb(000, 000, 000, 30%)
    ),
    url("assets/markus-spiske-hqCEQTc5gZA-unsplash 1.png");
}
.card {
  background-color: white;
  padding: 44px;
  max-width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 3em;
}
.card-text {
  font-size: 1.5em;
}
.section2 {
  /background-color: white;
  /justify-content: space-evenly;
}
.page-section {
  background-image: linear-gradient rgb(192, 147, 192);
}
